<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <p class="col-sm-2">People at the company</p>

        <button type="button" class="col-offset-6 btn btn-primary" data-toggle="modal" data-target="#createPerson">
            Add Person
        </button>
    </div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Company</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in persons">
                <th scope="row">
                    <a href="#detail/{{$index}}">{{$index+1}}</a>
                </th>
                <td>{{person.firstname}}</td>
                <td>{{person.lastname}}</td>
                <td>{{person.age}}</td>
                <td>{{person.company}}</td>
                <td>
                    <button type="button" class="btn " data-dismiss="modal" aria-label="Delete"><span aria-hidden="true" ng-click='delete($index)'>Delete</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="createPerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create Person</h4>
            </div>
            <div class="modal-body">
                <create-person datasource="persons" add="addPerson()">
                </create-person>
            </div>

        </div>
    </div>
</div>