.banner {
    padding-top: 10px;
    padding-bottom: 26px;
    border-bottom: 1px dotted grey;
}

.top-banner {
    padding-bottom: 25px;
    /*    border-bottom: 1px dotted grey;*/
}

.creative {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.creative {
    margin-top: 55px;
}

.creative span {
    background: #fff;
    padding: 0 10px;
}

hr.hrline {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.hrline:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.service-title {
    padding: 10px;
}

.service-banner,
.row.service-content {
    padding-bottom: 25px;
}

#signout {
    margin-top: 10px;
}